.recipe {
  max-width: 1280px;
  margin: 50px auto;
  text-align: center;
  background-color: white;
  padding: 25px;
}

.recipe ul {
  list-style-type: circle;
  list-style-position: inside;
  text-align: left;
  padding: 0;
  margin: 25px 0;
}

.recipe li {
  padding: 5px 0;
  color: #777;
}

.method {
  text-align: left;
  line-height: 1.5;
}

.recipe.dark {
  background-color: #555;
}

.recipe.dark h2,
.recipe.dark p,
.recipe.dark li {
  color: #fff;
}
